.body-pagina1 {
    background-color: #273238;
}

.H1-Pagina1 {
    color: #698593;
    background-color: #FFFFFF;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    font-style: bold;
    font-size: 64px;
}

p {
    color: #FFFFFF;
    font-size: 16px;
    text-align: justify;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

h2 {
    font-style: bold;
    font-style: italic;
    font-family: Arial, Gadget, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.aspiradoras {
    color: #EACAC6;
}

.celulares {
    color: #A1C1CB;
}

.consolas {
    color: #BCBDBF;
}

.hometheaters {
    color: #8D94A1;
}

.televisores {
    color: #B2B2AA;
}

.bordeaspiradora {
    border: 1px solid black;
    border-width: 6px;
    border-color: #EACAC6;
}

.bordecelular {
    border: 1px solid black;
    border-width: 6px;
    border-color: #A1C1CB;
}

.bordeconsolas {
    border: 10px solid black;
    border-width: 6px;
    border-color: #BCBDBF;
}

.bordehometheaters {
    border: 1px solid black;
    border-width: 6px;
    border-color: #8D94A1;
    width: 500px;
    height: 146px;
}

.bordetelevisores {
    border: 2px solid black;
    border-width: 6px;
    border-color: #B2B2AA;
}

div {
    padding-left: 40px;
}

/*Fin de Pag1, inicio de Pag2*/

.body-pagina2 {
    background-color: #289688;
}

.nuestros-restaurantes {
    color: #FCEA3E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
}

.container-galery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}

.galery-image {
    border: 8px solid #FFFFFF;
    margin: 16px;
}



