.image-container {
    display: flex;
    justify-content: center;
}

.imagen-logo {
    width: 30%;
    height: 15%;
}

h1 {
    text-align: center;
    color: #BB5397;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 20px;
    font-size: 40px;

}

p {
    color: #3B63A6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2 {
    color: #BB5397;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 15px;
}

.titulo-kingdom {
    text-align: center;
}

.image-century {
    overflow: hidden;
}

.image-century img {
    float: right;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
}

.image-century .text-container {
    overflow: hidden;
    align-items: center;
}

.caribbean {
    overflow: hidden;
}

.caribbean img {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    height: auto;
}

.image-kingdom {
    overflow: hidden;
}

.image-kingdom img {
    float: right;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
}

.imagen-fondo {
    display: flex;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    flex-direction: column;

}